<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

<body>
  <main>
    <aside>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="https://gezel.io">Gezel</a>
        </li>
        <li>
          <a href="https://gezel.io/discord">Discord</a>
        </li>
      </ul>
      <ul>
        <li>
          <label>YouTube Channel Rewards</label>
        </li>
        <li>
          <a href="/ytcr"><i class="fa-solid fa-bolt-lightning"></i> Get Started</a>
        </li>
        <li>
          <a href="/ytcr/faq"><i class="fa-solid fa-question"></i> FAQ</a>
        </li>
        </ul>
        <ul>
        <li>
          <label>Gezel Bot</label>
        </li>
        <li>
          <a href="/gezel-bot"><i class="fa-solid fa-bolt-lightning"></i> About Gezel Bot</a>
        </li>
        <li>
          <a href="/gezel-bot/faq"><i class="fa-solid fa-question"></i> FAQ</a>
        </li>
      </ul>
      <ul>
        <li>
          <label>iCreate.social</label>
        </li>
        <li>
          <a href="/icreate/faq"><i class="fa-solid fa-question"></i> FAQ</a>
        </li>
      </ul>
      <div class="summary">
        <b>Summary</b>
        <ul>
          <li>Loading...</li>
        </ul>
      </div>
    </aside>
    <article>
      <div class="container">{{ content }}</div>
    </article>
  </main>
  {% include footer.html %}
</body>

</html>