<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

<body>
  <main>
    <aside>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="https://gezel.io">Gezel</a>
        </li>
      </ul>
      <ul>
          <p>YTCR</p>
        <li>
          <a href="/docs/ytcr">Guide</a>
        </li>
        <li>
          <a href="/docs">FAQ</a>
        </li>
      </ul>
      <div class="summary">
        <b>Summary</b>
        <ul>
          <li>Loading...</li>
        </ul>
      </div>
    </aside>
    <article>
      <div class="container">{{ content }}</div>
    </article>
  </main>
  {% include footer.html %}
</body>

</html>